/* ページ全体 */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
/* タイトル */
header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}
h1 {
    margin: 0;
    font-size: 20px;
}
/* 地図 */
#map {
    height: calc(100vh - 60px);
    width: 100%;
}

/* お寺の番号ピン */
.temple-marker {
    background: transparent;
    border: none;
}

.temple-marker div {
    width: 32px;
    height: 32px;

    background: white;
    border: 3px solid #333;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 13px;
    font-weight: bold;

    box-sizing: border-box;
}